          <div class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-center">
                    
                </div>
                <div class="media-content has-text-centered">
                  <p class="title article-title"><%= title %></p>
                  <p class="subtitle is-6 article-subtitle">
                    <a href="#">@1</a>
                  </p>
                </div>
              </div>
            <div class="content article-body">
              <%= yield %>
              </div>
            </div>
          </div>