<<<<<<< HEAD
          <div class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-center">
                    
                </div>
                <div class="media-content has-text-centered">
                  <p class="title article-title"><%= title %></p>
                  <p class="subtitle is-6 article-subtitle">
                    <a href="#">@1</a> on October 7, 2017
                  </p>
                </div>
              </div>
            <div class="content article-body">
              <%= yield %>
              </div>
            </div>
=======
          <div class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-center">
                    
                </div>
                <div class="media-content has-text-centered">
                  <p class="title article-title"><%= title %></p>
                  <p class="subtitle is-6 article-subtitle">
                    <a href="#">@skeetskeet</a> on October 7, 2017
                  </p>
                </div>
              </div>
            <div class="content article-body">
              <%= yield %>
              </div>
            </div>
>>>>>>> 3538d0d7100dba77ce36419917f32114bfecff87
          </div>