<!DOCTYPE html>
<html lang="de">

<%= partial "head" %>

    <body>
        <div id="loader">
            <div class="centrize">
                <div class="v-center">
                    <div id="mask">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Preloader-->
        <!-- Navigation Bar-->
        <%= partial "header" %>
        <!-- End Navigation Bar-->


     


            <section>
                <div class="container">
                    <div style="margin-top:30px;">
                            <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=8d071ab1-0203-451a-8e9f-fea701a721b9&autoAuth=true&ctid=2697d6d3-bec7-4468-81e7-4a7c68c5e7bd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWQtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>

                <!-- end of container-->
            </section>





                

               <!-- <%= partial "parallax_image" %> -->
                    <%= partial "footer" %>
    </body>

</html>