---
title: Innovista Management GmbH
layout: home
keywords:
    - innosuisse
    - Innovationsmentoring
---
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 text-center col-sm-5">
                <%= image_tag 'base/portrait-gaby.jpg', :alt => "Dr. Gabriele Schwarz" %>
            </div>
            <div class="col-md-5 col-md-offset-1 col-sm-6 col-sm-offset-1">
                <div class="title">
                    <h4 class="upper">Innosuisse</h4>
                    <h3 class="upper">Mentoring<span class="red-dot"></span></h3>
                    <hr>
                    <p>Als Innosuisse Innovationsmentorin stehe ich Ihnen gerne zur Verfügung.</p>
                    <p>Mit mehr als 160 aufgegleisten Projekten innerhalb des Innosuisse und KTI Förderprogrammes sowie zahlreichen Kontakten sowohl in der Industrie als auch in der Akademie kann ich sicher auch zum Erfolg Ihres Projektes beitragen. Sollte Ihr Projekt nicht in meinem Kompetenzbereich liegen werde ich Sie gerne an die geeignete Ansprechperson weiterleiten.</p>
                    <p>Für Firmen bis 250 Mitarbeitende ist für der Service aufgrund der Innosuisse Akkreditierung von Gabriele Schwarz kostenfrei und unkompliziert.</p>
                    <p>Dafür müssen Sie lediglich einen Voucher beantragen, welcher in der Regel innerhalb weniger Tagen bewilligt wird.<p>
                    <p><a href="https://www.innosuisse.ch/inno/de/home/be-connected/mentoring.html"  data-scroll="true" class="btn btn-color-out">Informationen zum Innovationsvoucher der Innosuisse</a>
                    <p>Gerne können Sie uns auch schon vor dem Beantragen des Vouchers kontaktieren um zu sehen ob eine Innosuisse Förderung das Richtige für Ihr Projekt ist.</p>
                    <p><a href="#contact"  data-scroll="true" class="btn btn-color-out">Kontakt</a>
                    </p>
                </div>
                <!-- end of section content-->
            </div>
        </div>
            <!-- end of row-->
    </div>
</section>
