---
title: Innovista Management GmbH
layout: home
keywords: 
    - success story
    - Innovationsmentoring
---
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet"> 
<style>
.post-body{
    font-family: 'Raleway', sans-serif !important; 
    line-height: 120% !important;
    font-size: 135% !important;
}
.title_12{
  font-family: 'Raleway', sans-serif !important; 
    /*font-family: 'EB Garamond', serif !important; */
  color: #191b1d;

}
.bqq{
    max-width: 400px;
    float: right;
    margin-left: 20px;
}
.bqq p{
    font-family: 'Raleway', sans-serif !important; 
    line-height: 140% !important;
    font-size: 100% !important;
}
blockquote{
  
}

</style>
<section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <article class="post-single">
              <div class="post-info text-center">
                <h2 class="title_12">Lasertechnologie verhindert
das Fälschen von Medikamenten</h2>
                <h5 class="upper">Eine Success Story von Nano 4U</h5>
              </div>
              <div class="post-media">
<!--<img src="images/blog/1.jpg" alt="">-->
              </div>
              <div class="post-body">

<p>Einwegspritzen mit Medikamenten lassen sich einzeln
nicht bis zum Produzenten rückverfolgen. In einem
von der KTI geförderten Projekt entwickeln nano4U
und die Fachhochschule Nordwestschweiz eine
Schreib- und Leseeinheit, bei welcher der Glasflansch
der Spritze individuell codiert und identifiziert werden
kann.</p> 
<blockquote class="bqq">
<p class="">Ich bestand darauf, dass
wir trotz heikler patentrechtlicher
Verhandlungen
die gesamte Wertschöpfungskette
anschauen und
Partner für erste Testläufe
mit ins Boot holen.</p>
<p  class="" style="text-align: right;"> - Dr. Gabriele Schwarz, Innovationsmentorin KTI und Wirtschaftsinformatikerin</p>
</blockquote>
<p>
Das Rückverfolgen der Produktion von Medikamenten ist
aus Sicherheitsgründen von grosser Bedeutung. Bei Einwegspritzen
werden aber nur sogenannte Nester von 100 oder
160 Stück codiert, nicht jedoch die einzelnen Spritzen. Die
Gefahr von Untermischungen und Fälschungen ist gross.
Die nano4U AG ist in der Produktionssicherheit tätig. Ein
Pharmahersteller fragte bei ihr nach einer Lösung für das
Problem, denn bei Blister-Verpackungen ist eine Lösung
von nano4U zur einzelnen Codierung bereits im industriellen
Einsatz. Dr. Alexander Stuck, Director Products and
Solutions, prüft die Sache und sieht eine Möglichkeit, den
Glasflansch jeder Spritze von oben herab via Laser zu
codieren. Nur so bleibt die Spritze im Nest, ohne die Produktion
zu verlangsamen oder zu kontaminieren.
Eine Vorstudie am Institut für Produkt- und Produktionsengineering
der Fachhochschule Nordwestschweiz (FHNW)
ergibt unter der Leitung von Prof. Dr. Ronald Holtz, Teamleiter
3D-Laser, dass sich der Flansch beschriften lässt. Um
die Machbarkeit detailliert zu prüfen, beauftragt nano4U
die FHNW mit dem Bau eines Prototyps. Das Ergebnis der
ausführlichen Tests ist wiederum positiv.
</p>    
 <p>
Mit Unterstützung der KTI wollen die beiden Partner LeseSchreib-Technologien
entwickeln, um Spritzen mit einem
Ultrakurzpulslaser individuell zu markieren und an neuralgischen
Punkten in der Lieferkette zu authentifizieren.
KTI-Innovationsmentorin und Wirtschaftsinformatikerin
Dr. Gabriele Schwarz unterstützt die Projektpartner bei der
Formulierung des Antrags. Eine Knacknuss ist die Wertschöpfungskette,
denn nano4U will nur so viele Personen
wie nötig ins Projekt einweihen. «Ich bestand darauf, dass
wir trotz heikler patentrechtlicher Verhandlungen die gesamte
Wertschöpfungskette anschauen», sagt Schwarz.
«Wir mussten Partner mit ins Boot holen, welche bereit
sind, die neue Technologie in ihre Maschinen zu integrieren
und, sobald möglich, erste Testläufe machen.» Nun arbeiten
zwei schweizerische Zulieferer der pharmazeutischen
Industrie im Projekt mit. So entsteht wirklich kundengetriebene
Innovation.</p> <p>
Auslesen der Codierung auf dem Handy
Entwickelt und in der Produktion getestet wird eine Technologie,
die eine 3D-Codierung innerhalb von 100 Millisekunden
vornimmt. Der Flansch wird direkt unter der
Glasoberfläche codiert, und weil dies vor dem Abfüllen
erfolgt, kann der Laserstrahl das Medikament auch nicht
verändern – bei teuren Medikamenten ein absolutes Muss.
Den Code kann jeder Endverbraucher – ob Arzt, Pflegeperson
oder Händler – mit einem kleinen und günstigen
Linsenaufsatz auf dem Handy auslesen, ohne mit einer
Datenbank verbunden zu sein. Verwechslungen oder Fälschungen
sind ausgeschlossen.</p> <p>
Gemeinsam präzisieren Schwarz und Stuck ein Geschäftsmodell,
das unter anderem mit Lizenzen einen langfristigen
Ertrag und den grösstmöglichen Schutz vor Nachahmern
verspricht. Unterdessen führt nano4U diverse Gespräche
mit potenziellen Endkunden.</p>




              </div>
              <a href="https://www.innovista.ch/static/success_story_kti_taetigkeitsbericht.pdf" data-scroll="true" class="btn btn-color">PDF herunterladen</a>


<br>
<hr>
Text übernommen aus dem Tätigkeitsbericht der Kommission für Technolgie und Innovation 2017, S. 52f


            </article>
            <!-- end of article-->
          </div>
        </div>
      </div>

    </section>

