--- 
title: Innovista Management GmbH 
layout: blog_home 
---
      


<section class="articles">
       
     <div class="column is-8 is-offset-2">
           <!-- START PROMO BLOCK -->
          <section class="hero is-info is-bold is-small promo-block">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  <i class="fa fa-bell-o"></i> 
                   Lorem dolor sed viverra
                </h1>
                <h2 class="subtitle">
                  Consequat id porta nibh venenatis cras sed felis eget
                </h2>
              </div>
            </div>
          </section>
          <!-- END PROMO BLOCK -->


        <% blog.articles[0...5].each do |article| %>
                      <div class="card article">
            <div class="card-content">
              <div class="media">
                <div class="media-center">

                </div>
                <div class="media-content has-text-centered">
                  <p class="title article-title"><%= article.title %></p>
                  <p class="subtitle is-6 article-subtitle">
                    <a href="#">@innovista</a> am <%= article.date.strftime('%d %b %Y') %>
                  </p>
                </div>
              </div>
            <div class="content article-body">
              <%= article.body %>
              </div>
            </div>
          </div>
        <% end %>
          <!-- 
          <section class="hero is-danger is-bold is-small promo-block">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  <i class="fa fa-bell-o"></i> 
                   Lorem dolor sed viverra
                </h1>
                <h2 class="subtitle">
                  Consequat id porta nibh venenatis cras sed felis eget
                </h2>
              </div>
            </div>
          </section>
       -->

        



       
    </section>