<section  class="grey">





        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-4 img-side img-right">
                    <div class="img-holder">
                      <%= image_tag 'base/portrait-gaby.jpg',  :class => 'bg-img' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <div class="">
                        <h3>Innovationslösungen von morgen<span class="red-dot"></span></h3>
                        <hr>
                    </div>
                    <p>
                        Innovationsprojekte sind Reisen mit bekannten und unbekannten Variablen.
                    </p>
                    <p>
                        Es sind spannende aber komplexe Vorhaben, die nicht nur eine Idee, sondern vielmehr Teamgeist, Ausdauer und Wissen erfordern.
                        Bei diesen Reisen unterstütze ich meine Kunden
                    </p>
                    <p>
                        Mit meiner jahrelangen Erfahrung aus fast 100 aufgegleisten Innovationsprojekten kann ich Ihnen sehr schnell ein Feedback
                        zu Ihrem Vorhaben geben. Unsere gelebte Zusammenarbeit mit Partner aus der Start-up Szene und die
                        enge Verbindung zur Akademia gewähren einen 360° Grad Blick auf Ihre Innovationsstrategie.
                    </p>
                    <p>
                        Meine Kunden sind vorwiegend im Business to Business Bereich tätig, mehrheitlich im Maschinen- Anlagebau (Tooling) und in
                        der Informatik. Wir haben gemeinsam, dass wir mit Leidenschaft an Innovationsprojekten arbeiten.
                        Einige sind «alte Hasen» im Innovationsmanagement, andere Kunden wagen ihre ersten Projekte – für
                        beide bin ich gerne Ihr Partner.
                    </p>
                    <p class="text-right">
                        <br><br><strong>- Dr. Gabriele Schwarz</strong><br> Gründerin Innovista Management GmbH
                    </p>
                </div>
            </div>
        </div>
    </section>