<header id="topnav">
        <div class="container">
            <div id="block-comets-branding" class="logo">
                <a href="/de">
                <%= image_tag 'base/logo.png', :width => 'auto', :height => 'auto', :alt => 'Innovista Management GmbH', :class => 'logo-light' %>
                </a>
            </div>
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                 </div>
            </div>



            <div id="navigation">
                <h2 class="visually-hidden">Main navigation</h2>
                <ul class="navigation-menu">
                    <li class="has-submenu">
                        <a href="/de#products" data-drupal-link-system-path="&lt;front&gt;" class="is-active">Produkte</a>
                        <ul class="submenu">
                            <li>
                                <a href="/de/products/innoplus" data-drupal-link-system-path="node/112">Innoplus</a>
                            </li>
                            <li>
                                <a href="/de/products/innofit" data-drupal-link-system-path="node/113">Innofit</a>
                            </li>
                            <li>
                                <a href="/de/products/innovista-education" data-drupal-link-system-path="node/114">Schulungen</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/de#team" data-drupal-link-system-path="&lt;front&gt;" class="is-active">Team &amp; Partner</a>
                    </li>
                    <li>
                        <a href="/de#netzwerk" data-drupal-link-system-path="&lt;front&gt;" class="is-active">Netzwerk</a>
                    </li>
                    <li>
                        <a href="/de#contact" data-drupal-link-system-path="&lt;front&gt;" class="is-active">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>