
    <section class="parallax">
      <div data-parallax="scroll" data-image-src="/images/base/see_fade_out.jpg" class="parallax-bg"></div>
          <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    </section>