       <section class="grey">


                        <div class="container why-work-with-us">
                            <div class="title center">
                                <h3>Warum sich eine Zusammenarbeit lohnt<span class="red-dot red-dot-question">?</span></h3>
                                <hr>
                                <h4 class="upper max-width">Gabriele Schwarz und ihr Team...</h4>
                            </div>
                            <div class="section-content">
                                <div class="row column-center">
                                    <div class="col-md-3 column">
                                        <div class="icon-box-circular">
                                            <div class="ib-icon"><i class="icon-compass"></i>
                                            </div>
                                            <div class="ib-content">
                                                <p>Navigieren sie als erfahrene Piloten in neue Welten</p>
                                            </div>
                                        </div>
                                        <!-- end of icon box-->
                                    </div>

                                    <div class="col-md-3 column">
                                        <div class="icon-box-circular">
                                            <div class="ib-icon"><i class="icon-shield"></i>
                                            </div>
                                            <div class="ib-content">
                                                <p>Geben ihnen Argumente, ihr Projekt vor der Geschäftsleitung und oder vor
                                                    einem Gremium durch zu bringen.</p>
                                            </div>
                                        </div>
                                        <!-- end of icon box-->
                                    </div>

                                    <div class="col-md-3 column">
                                        <div class="icon-box-circular">
                                            <div class="ib-icon"><i class="icon-lifesaver"></i>
                                            </div>
                                            <div class="ib-content">
                                                <p>Geben Sicherheit und Unterstützung</p>
                                            </div>
                                        </div>
                                        <!-- end of icon box-->
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-md-3 column">
                                        <div class="icon-box-circular">
                                            <div class="ib-icon"><i class="icon-scope"></i>
                                            </div>
                                            <div class="ib-content">
                                                <p>Zeigen Chancen und Risiken auf (Projektevaluation – Scientific Due diligence</p>
                                            </div>
                                        </div>
                                        <!-- end of icon box-->
                                    </div>

                                    <div class="col-md-3 column">
                                        <div class="icon-box-circular">
                                            <div class="ib-icon"><i class="icon-quote"></i>
                                            </div>
                                            <div class="ib-content">
                                                <p>Reduzieren das Risiko – ehrliches Feedback bei Risikomanagement und Go/Nogo
                                                    Entscheide</p>
                                            </div>
                                        </div>
                                        <!-- end of icon box-->
                                    </div>

                                </div>
                                <!-- end of row-->
                            </div>
                            <!-- end of section content-->
                        </div>



                    </section>